<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IGABE</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="login-outer">
        <div class="login-inner">
            <div class="login-left">
                <div class="social-img-box">
                    <img class="social-img" src="assets/social.png" alt="">
                </div>
            </div>
            <div class="login-right">
                <div class="login-title">IGABE Login</div>
                <form action="/login" method="POST" class="login-form">
                    <input class="login-item" type="text" name="username" placeholder="Email">
                    <input class="login-item" type="password" name="password" placeholder="Password">
                    <input class="login-item login-submit" type="submit">
                </form>
                <a href="/register" class="create-account-label">create new account</a>
            </div>
        </div>

    </div>
</body>
</html>