<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IGABE</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="login-outer">
        <div class="register-inner">
            <div class="login-title">Registration</div>
            <form action="/register" method="POST" class="login-form">
                <input type="text" name="firstName" placeholder="First Name" class="login-item">
                <input type="text" name="lastName" placeholder="Last Name" class="login-item">
                <input type="text" name="mobile" placeholder="Mobile" class="login-item">
                <input type="email" name="username" placeholder="Email" class="login-item">
                <input type="password" name="password" placeholder="Password" class="login-item">
                <input type="submit" class="login-item login-submit">
            </form>

        </div>

    </div>
</body>
</html>